body {
  background-color: #ccc; /* これは灰色 */
}

a {
  text-decoration: none;
}


.btn a {
  display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 300px;
	height: 60px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
	border: 2px solid #333;
}

.btn a::after {
  content: '';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: rotate(45deg) translateY(-50%);
	width: 6px;
	height: 6px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #333;
}
